.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: var(--sidebarBackgroundColor);
  height: 60px;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 20;
}

.imageDiv {
  /* width: 50px; */
  /* height: 50px; */
  /* border-radius: 50%; */
  position: relative;
}



.image1 {
  object-fit: cover;
  width: 125px;
  height: 50px;
}

.container {
  position: fixed;
}

.dateDiv {
  padding: 10px 10px;
  cursor: pointer;
  /* display: none; */
}

.dateText {
  cursor: pointer;
  margin: 0;
  font-size: 15px;
}

.ulDiv {
  display: flex;
  flex-direction: row;
}

.list {
  text-decoration: none;
  list-style: none;
  margin: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.link:hover {
  background-color: white;
}

.iconDiv {
  display: flex;
  flex-direction: row;
  /* padding: 10px 10px; */
  justify-content: space-around;
  align-items: center;
}

.searchDiv {
  /* padding: 10px 10px; */
  /* min-width: 10px; */
}

.hamburgerDiv {
  margin: 10px 10px;
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hight {
  height: 60px;
}

.link {
  text-decoration: none;
  color: var(--sidebarFontColor);
  font-size: 20px;
  padding: 5px 10px;
}

/* Sidebar */
.sidebarClose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  left: -2000px;
  background-color: #c2c7ca6e;
  transition: transform 300ms ease-in-out 0s;
  z-index: 11;
  transition: all 0.2s ease-in-out;
}

/* Sidebar */
.sidebarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  left: 0px;
  background-color: transparent;
  transition: transform 300ms ease-in-out 0s;
  z-index: 11;
  transition: all 0.2s ease-in-out;
  background: none;
}

.sidebarDiv {
  background-color: #ffffff;
  width: 70%;
}

.closeDiv {
  padding: 20px;
  cursor: pointer;
}

.sidebarlist {
  text-decoration: none;
  list-style: none;
  padding: 10px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: flex-start;
  border-bottom: 1px solid #cdd0cd;
}
.sidebarlist:hover {
  background-color: var(--sidebarFontColor);
  color: white;
}

.sidebarlist:hover .sidebarlink {
  /* background-color: var(--sidebarFontColor); */
  color: white;
  font-weight: 900;
  font-size: 16px;
}

.sidebarUl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}
.sidebarlink {
  color: var(--sidebarFontColor);
  font-weight: 900;
  font-size: 16px;
}

.image {
  object-fit: cover;
  width: 300px;
  height: 120px;
}

@media screen and (max-width: 600px) {
  .ulDiv {
    display: none;
  }
  .image {
    object-fit: cover;
    width: 180px;
    height: 70px;
  }

  /* Sidebar */
  .sidebarClose {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    left: -600px;
    background-color: #c2c7ca6e;
    transition: transform 300ms ease-in-out 0s;
    z-index: 11;
    transition: all 0.2s ease-in-out;
  }
  /* Sidebar */
  .sidebarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    left: 0px;
    /* background-color: #c2c7ca6e; */
    transition: transform 300ms ease-in-out 0s;
    z-index: 11;
    transition: all 0.2s ease-in-out;
    background: none;
  }
}

.hamDiv {
  width: 20px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: hidden; */
  z-index: 12;
  cursor: pointer;
}

.ham1 {
  width: 100%;
  height: 3px;
  background: var(--sidebarFontColor);
  border-radius: 10px;
  transform-origin: 0% 0%;
  transition: transform 0.5s ease-in-out;
}

.ham2 {
  width: 100%;
  height: 3px;
  background: var(--sidebarFontColor);
  border-radius: 10px;
  transform: translateX(0);
  animation: opa 1s;
  transition: all 0.5s ease-in-out;
}

.ham3 {
  width: 100%;
  height: 3px;
  background: var(--sidebarFontColor);
  border-radius: 10px;
  transform-origin: 0% 100%;
  transition: transform 0.5s ease-in-out;
}

.hamclose1 {
  width: 100%;
  height: 3px;
  background: var(--sidebarFontColor);
  border-radius: 10px;
  transform-origin: 0% 0%;
  transition: transform 0.5s ease-in-out;
  transform: rotate(45deg);

  /* transition: all 1s ease-in-out; */
}
.hamclose2 {
  width: 100%;
  height: 3px;
  background: var(--sidebarFontColor);
  border-radius: 10px;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.hamclose3 {
  width: 100%;
  height: 3px;
  background: var(--sidebarFontColor);
  border-radius: 10px;
  transform-origin: 0% 100%;
  transition: transform 0.5s ease-in-out;
  transform: rotate(-45deg);
  /* transition: all 1s ease-in-out; */
}
