html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* display: none; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --sidebarBackgroundColor:rgb(244, 243, 243);
  --sidebarFontColor:#0dae3d;
  --mainFont: 'Roboto', sans-serif;
}